*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black;
    width: 1200px;
    height: 170px;
    position: absolute;
    
    
}

nav ul li{
    list-style: none;
    display: inline-block;
    text-align: justify;
    font-size: 20px;
    margin-top: 60px;
    margin-left: 60px;
    padding: 5px;
    padding-inline: 1px;
    margin-inline: 5px;

              
}
.nav-item{
    font-family: cursive;
    color: white;

}
.nav-link{
    color: white;
}
nav .nav-item a:hover{
    color: violet;
}
a{
    color: white;
    text-decoration-line: none;
    
    
}
nav{
    color:white;
    width: 1200px;
    height: 170px;
    text-align: justify;
    
}
nav a:hover{
    color: violet;
}
.d-flex{
    width: 220px;
}
.form-control{
    width: 150px;
}
.main{
    width: 1200px;
    height: 1400px;
    
}
section{
    background-image: linear-gradient(to bottom left, white, grey, gray, black);
}

.p__eventos{
    width: 50%;
    position: relative;
    font-size: 24px;
    font-family: cursive;
    padding: 0;
    margin-top: 0px;
    text-align: justify;
    color: black;
    margin-left: 100px;
    margin-top: 20px;

    
    
}
.ptit__eventos{
    font-size: 50PX;
    font-weight: bold;
    padding: 0;
    margin-top: 200px;
    color: black;
    font-family: cursive;
    text-align: justify;


    
}
.ptit__homenajes{
    font-size: 50PX;
    font-weight: bold;
    padding: 0;
    margin-top: 30px;
    color: black;
    font-family: cursive;
    text-align: justify;
  
    


}
.p__homenajes{
    width: 50%;
    position: relative;
    display: flex;
    font-size: 24px;
    font-family: cursive;
    padding: 0;
    margin-top: 0px;
    text-align: justify;
    color: black;
    margin-left: 100px;

}
.ver__eventos{
    color: black;
    position: relative;
    margin-left:500px;
}
.a__eventos{
    color: black;
    font-family: cursive;
    font-size: 24px;   
}
.ver__homenajes{
    color: black;
    position: relative;
    margin-left: 500px;
    margin-bottom: 30px;

}
.a__homenajes{
    color: black;
    font-family: cursive;
    font-size: 24px;
}
.aside{
    margin-top: 500px;
    align-content: center;
    margin-left: 0px;
}
.footer{
    background-color: black;
    width: 1200px;
    height: 170px;
    position: absolute;
}
.f_logo{
    padding: 0%;
    margin-left: 2%;
    width: 50px;
    margin-bottom: 2%;
    margin-top: 2%;
}
.f__nav{
    color:white;
    width: auto;
    margin-top: 70px;
    margin-left: 150px;
}
footer ul li{
    list-style: none;
    display: inline-block;
    text-align: justify;
    font-size: 25px;
    margin-top: 1px;
    margin-left: 60px;
    padding: 5px;
    padding-inline: 2px;
    margin-inline: 10px;
}

footer a{
    color: white;
    text-decoration-line: none;
}
footer a:hover{
    color: violet;
}
