*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black;
    width: 1260px;
    height: 170px;
    position: absolute;
    
    
}
h1{
    object-position: left;
    margin: 2%;
    position: absolute;
    color: white;
}
nav ul li{
    list-style: none;
    display: inline-block;
    text-align: justify;
    font-size: 25px;
    margin-top: 60px;
    margin-left: 60px;
    padding: 5px;
    padding-inline: 2px;
    margin-inline: 10px;

              
}
a{
    color: white;
    text-decoration-line: none;
    
    
}
nav{
    color:white;
    width: 100%;
    height: 100px;
    display: flex;
    text-align: justify;
    align-content: space-between;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: baseline;

}
nav a:hover{
    color: violet;
}
.main{
    width: 1260px;
    height: 1400px;
    align-content: center;

}
.main__div{
    width: 100%;
    height: 100%;
    padding: 0px;
}
.div__articleeventos{
    padding: 0px;
    background-image: url(/Imagenes/eventosocial.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    
}
.p__eventos{
    width: 50%;
    position: relative;
    display: flex;
    font-size: 24px;
    font-family: cursive;
    padding: 0;
    margin-top: 0px;
    text-align: justify;
    color: white;
    margin-left: 450px;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: baseline;
    justify-content: baseline;
    
    
}
.ptit__eventos{
    font-size: 50PX;
    font-weight: bold;
    padding: 0;
    margin-top: 300px;
    display: flex;
    color: white;
    font-family: cursive;
    text-align: justify;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: baseline;
    justify-content: baseline;

    
}
.div__articlehomenajes{
    background-image: url(/Imagenes/homenajes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    

}
.ptit__homenajes{
    font-size: 50PX;
    font-weight: bold;
    padding: 0;
    margin-top: 150px;
    display: flex;
    color: white;
    font-family: cursive;
    text-align: justify;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: baseline;
    justify-content: baseline;
    


}
.p__homenajes{
    width: 50%;
    position: relative;
    display: flex;
    font-size: 24px;
    font-family: cursive;
    padding: 0;
    margin-top: 0px;
    text-align: justify;
    color: white;
    margin-left: 450px;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: baseline;
    justify-content: baseline;
}
.ver__eventos{
    color: black;
    position: relative;
    margin-left:800px;
}
.a__eventos{
    color: black;
    font-family: cursive;
    font-size: 24px;   
}
.ver__homenajes{
    color: black;
    position: relative;
    margin-left: 800px;

}
.a__homenajes{
    color: black;
    font-family: cursive;
    font-size: 24px;
}
.footer{
    background-color: black;
    width: 1260px;
    height: 170px;
    position: absolute;
}
.f__nav{
    color:white;
    width: auto;
    margin-top: 70px;
    margin-left: 150px;
}
footer ul li{
    list-style: none;
    display: inline-block;
    text-align: justify;
    font-size: 25px;
    margin-top: 1px;
    margin-left: 60px;
    padding: 5px;
    padding-inline: 2px;
    margin-inline: 10px;
}

.f__logo{
    object-position: left;
    margin: 2%;
    padding-left: 0%;
    padding-right: 0%;
    position: absolute;
    color: white;
    
}
footer a{
    color: white;
    text-decoration-line: none;
}
footer a:hover{
    color: violet;
}
